<div class="event">
    <div class="content">
        <div class="summary">
            <span class="ui orange header small"><%= message.user.username %>:</span> <%= message.body%>
        </div>
    </div>
</div>